[2017-04-02 13:20] ainestal opened #6 "Websocket APIs"
I'd like to open the discussion about the approach to all the new APIs that implement websockets. More and more exchanges are going into the path of a continuous stream of data, instead of the pull approach of the classic APIs.

Would it be a useful feature to implement them? Is it even possible? Can the websockets work together within the same API as the classic exchanges?
So, what should we do a

[2017-04-02 14:12] hugues31 commented on #6
I already did a simple websocket connection with OKCoin exchange with the [rust-websocket](https://github.com/cyderize/rust-websocket) crate. So yes it's possible (and fairly simple).
The thing is, websocket does not fit well with the current synchronous implementation of the coinnect api. Maybe we can create a branch that adds a websocket module, but this will be a lot of work.

[2017-04-02 14:30] ainestal commented on #6
Agree about the complexity of synchronous vs asynchronous and about the amount of work. This will probably be a long discussion. I just wanted to address the issue for the future.

[2017-04-02 15:11] ainestal opened #8 "Least common functions"
Since different exchanges offer different types of data, what is the least common functions we want to implement in all the exchanges integrated?

In other words, how do the trait ExchangeApi has to be?

[2017-04-02 15:13] hugues31 commented on #8
Maybe we can look at the [XChange](https://github.com/timmolter/XChange) library to see what we can implement.

[2017-04-02 15:25] ainestal commented on #8
Yes, that is a good starting point.

Btw, that library is growing fast ! It's pretty impressive the amount of collaborators they have

[2017-04-14 20:27] crackcomm opened #9 "Move to futures"
I would love to contribute in making this client use [hyper](https://github.com/hyperium/hyper) on tokio with futures use. How much are you willing to make breaking API changes?

[2017-04-15 07:45] hugues31 commented on #9
I have to say that futures is not something I'm confortable with (I don't really understand the benefit) but I am open to all contributions.
Actually, the exposed API is fairly simple to use (2 lines to create an API and get a price), it would have to remain so. I would like to see what would this [example](https://github.com/hugues31/coinnect/blob/master/examples/generic_api.rs) (or any other pra

[2017-04-15 09:33] ainestal commented on #9
Same as hugues31, but I'd love to see the use case and an example

Sent from my iPhone

[2017-04-15 22:02] crackcomm commented on #9
For quick interview see [hyper example client](https://github.com/hyperium/hyper/blob/master/examples/client.rs#L33).

[2017-04-16 03:40] ainestal commented on #9
What are the advantages of this approach? I fail to understand what we gain in return for the increased complexity

[2017-04-16 05:47] hugues31 commented on #9
Yes, same here. For me, futures could be used by the lib's users in their apps if they need too. I don't see the point of using futures internally but maybe I'm missing something.

[2017-04-17 01:36] crackcomm commented on #9
It's advantages are that we can make simultaneous requests in one thread, easily select on first response, collect responses or use events like deadlines etc.

In example of Poloniex client, it will be required to change two functions – [`public_query`](https://github.com/hugues31/coinnect/blob/master/src/poloniex/api.rs#L110) and [`private_query`](https://github.com/hugues31/coinnect/blob/master/

[2017-04-17 15:53] hugues31 commented on #9
So if I understand it correctly, the Poloniex example was previously (=currently) :
[code]

and with Futures, simply becomes:
[code]

Thus, lets the user implements more easily a timeout mechanism for example if I'm correct. The best of it is we can make parallel requests easily (syntax is incorrect but the idea is here..) :
[code]

Where with the current synchronous implementation we had to wait

[2017-04-23 19:38] dtolnay opened #10 "Drop rustc-serialize dependency"
It has been deprecated: [announcement](https://users.rust-lang.org/t/deprecation-of-rustc-serialize/10485?u=dtolnay).

[2017-04-23 20:16] hugues31 commented on #10
Thanks for reporting. I will look into it at the end of the week

[2017-04-24 18:09] ainestal commented on #9
It looks like a good feature to have. Who is going to implement it?

[2017-04-24 18:23] hugues31 commented on #9
I will not try until next week, so you can maybe send a PR if you need that feature now :)

[2017-04-24 18:45] ainestal commented on #9
I don't really need it for now. I was asking just to continue developing the library.

I'll give it a try this week.

[2017-04-25 15:14] hugues31 commented on #10
Replace rusts-serialize  in favor of data-encoding with 565abf138b928d5548f480420ceedfa82fd821c5

[2017-04-25 15:14] #10 closed

[2017-05-05 00:45] crackcomm commented on #9
Here is a working sample for Poloniex based on your previous code: https://gist.github.com/crackcomm/5fbf16d27acdda5d9af3f6e835690c90

[2017-05-08 20:46] hugues31 commented on #9
Thanks for your input! I'll look into it tomorrow

[2017-05-14 16:31] hugues31 commented on #9
After a few thoughts, I think Futures add a lot of boilerplate code (in its most trivial implementation through). I don't have enough knowledge to modify what you have linked. Is it possible to include the tokio_core inside the `public_query` and `private_query` functions in some way? So the user exposed API remains as simple as I have imagined it above.

[2017-05-14 17:12] ainestal commented on #9
I also tried with the same result as @hugues31

[2017-05-14 18:03] crackcomm commented on #9
Usage might be minimized by constructing hyper client in lib

[code]

[2017-05-14 18:16] crackcomm commented on #9
I think this change should wait anyway for you to gain confidence in it.

[2017-05-20 11:04] Peltoche opened #12 "Move error handling to error_chain"
Hi,

I see that for now the error handling is hand made. It's cool but it have a lot of missing features:
- It not generic
- It lost many logs
- It heavy to add a new error

Without a proper error handling system you can't correctly return  all the errors which lead to all the unnecessary `unwrap` call. If you don't return the errors now you soon will be locked with errors that you can't return to

[2017-05-20 12:32] hugues31 commented on #12
Hi!
Thanks for your input ! I'm currently trying to improve the `Pair` enum so I don't have the time to look at a better error handling solution for now but yours seems fine. I keep an eye on your fork :)

[2017-05-21 22:28] hugues31 commented on #12
Error handling improvement with 749b26ab76ada9012e954fa132900490422c8c65

[2017-05-21 22:28] #12 closed

[2017-05-21 22:35] hugues31 commented on #12
For some reason, you don't seem to appear on the contributors page ([here](https://github.com/hugues31/coinnect/graphs/contributors)). I'll be happy to fix this if you know how to it (I suppose you had a bad git config when you made the commits)

[2017-05-24 11:44] Peltoche commented on #9
Yop,

I will probably make a try for creating a wrapper around the lib. I will not change the old lib, only create a new one wrapping the old one without any logic.

It seem the best if we want to keep the core of the lib synchronous but for me an asynchronous core will be also a great idea. (Maybe the subject to a new Issue?)

[2017-05-24 11:58] crackcomm commented on #9
I personally think the core should be asynchronous because it can be used synchronously and it doesn't work like that vice-versa. Interesting project: [futures-await](https://github.com/alexcrichton/futures-await).

[2017-05-24 12:45] hugues31 commented on #9
Is there a way to make this possible (as I stated above):
[code]
So that return_ticker() returns a Future and wait() should... wait until response is received.
The idea is to keep the API very straightforward so we can use it both in a synchronous or asynchronous way.

[2017-05-24 13:45] crackcomm commented on #9
It [is](https://docs.rs/futures/0.1.13/futures/future/trait.Future.html#method.wait) possible.

[2017-05-25 09:18] Peltoche opened #19 "Coinnect handle several Exchanges"
Ad I understand it the `Coinnect` client is used for create a generic way to handle client, so the main goal for this feature is to manage several clients at the same time. But for now the `Coinnect` struct can handle only one `Exchange` at a time so if we need to make a action on several `Exchanges` we must create several `Coinnect` client, which lead to something like this:

[code]

This method

[2017-05-25 09:52] ainestal commented on #19
In my mind I had the first option because it allows the user to handle everything and coinnect just encapsulates the exchange.

But I like the performance improvements that would arise from connecting to the exchanges in parallel, isolating the threading for the user.

[2017-05-25 09:57] hugues31 commented on #19
In your first example, the for loop:
[code]
could be made parallel easily using Futures (issue #9)

I don't see this
[code]
very convenient to use (at least for my use, I am making a trading bot, pulling public data and making private requests).

But maybe we are missing a util function that return a list of mutable `Coinnect` default structs. So looping as you write:
[code]
is not as convenient a

[2017-05-25 10:09] Peltoche opened #20 "Create a generic credential system"
# Issue
Each client can have its proper need for initialization and connection. The current way is to put everything in arguments but it will quickly become very heavy.

Example:
[code]

The other issue is for `Coinnect` which must handle all the differences. For now it need to take all the arguments, even the useless:
[code]
This method is not sustainable, what is the next market need another spe

[2017-05-25 10:19] Peltoche commented on #9
In order to be completely useful I think #19 should be handle first. Can you make some feedbacks in order to validate (or not)?

[2017-05-25 10:21] hugues31 commented on #20
Seems fine to me 👍

[2017-05-25 11:26] Peltoche commented on #19
@hugues31 the main goal is to avoid the use of Futures for users which could simplify a lot the code for them.

*For me* there is a limited number of case where the asynchronous is interesting and we can handle them in the lib like the multi-call in parallel (it's probably the only one). So exposing Futures for users is adding useless complexity. But I don't know all the use cases and this is corr

[2017-05-25 11:40] ainestal commented on #20
Agree with the problem and the solution

[2017-05-25 11:42] Peltoche commented on #20
Ok, so I start the code.

[2017-05-25 11:58] Peltoche opened #21 "Fix credentials format"
# Issue
In the current state the config file look like:
[code]

- The key object `account_bitstamp` not very practical and the `exchange` field is useless.
- We need to ask the key used for each config object:
[code]
- We can't load automatically a bunch of config in one time (as we don't know the keys used)

# Solution
We force the key format to market name and we remove the useless `exchange` fi

[2017-05-25 12:18] hugues31 commented on #19
Did you mean (second example)
[code]

instead of ?
[code]

Anyway, if I understand correctly, the generic_api.rs example becomes (with ticker returning a Future) :

[code]

Instead of this deadly simple synchronous call:
[code]
As @crackcomm said in #9 the core could be asynchronous and all methods can return Future. To make it synchronous, the user just have to call wait(), it's yet simple but re

[2017-05-25 12:23] hugues31 commented on #21
This was designed in a way that a user may have multiples accounts on the same exchange. What if this is the case with your solution? The user should keep his accounts in separate files?

[2017-05-25 12:46] Peltoche commented on #21
Ha... well played!

I was not aware of the multi-account system and this is a great idea. Knowing this, it's all good.

Closed

[2017-05-25 12:46] #21 closed

[2017-05-25 18:46] crackcomm commented on #9
I uploaded some of my code to [github](https://github.com/crypto-bank/orca) maybe you will be able to learn or use some of it. Feel free to steal it.

[2017-05-26 08:49] hugues31 commented on #8
I close since this can be discussed as a per function basis (add_order, balances, ...)

[2017-05-26 08:49] #8 closed

[2017-05-26 12:08] Peltoche opened #24 "Establish some workflows"
# Issue

For now:
- Everybody push or merge directly on master
- There is no lib versionning
- The documentation is manually updated

# Proposed Solution
Put some rules.

Here my propositions:
- Everybody make PR
- Every PR target a "dev" branch
- When the "dev" branch is ready -> merge on master with a tag and release a cargo version with the same tag + automatically create the new doc (I can fin

[2017-05-26 12:23] hugues31 commented on #24
I agree with that. I'm a beginner with git (and github, this is my first repo), so I'm not sure if I will do it correctly, especially the --non-fast-forward options.
When you say "automatically create the new doc" do you mean uploading the lib to crates.io to lets doc.rs create and publish the doc ?

[2017-05-26 12:59] Peltoche commented on #24
Yes, all that. For the doc I suggest to push it on the repo github-page

[2017-05-26 13:36] ainestal commented on #24
I agree with
- PRs for everybody, I miss commits done to master directly and I have to review them manually
- --non-fast-forward
- versioning of the library

About having branches, I don't agree so much. I've been working without branches for some years now and:
- the workflow is much more clear for everybody: developers and users
- there is no divergence between dev (or pre, or staging or any oth

[2017-05-26 17:10] hugues31 commented on #24
@ainestal I'm ok with what you say for the branches (even if I don't have your experience).

For the `--non-fast-forward`option, what should I change ? The git config file ? Should I add this to the file:
[code]

[2017-05-26 17:25] #20 closed

[2017-05-27 08:24] Peltoche commented on #24
My bad, the option is only on Gitlab but you can have the same result by changing theses options in the project parameters:
- remove the 'Allow rebase merging'
- remove 'Allow squash merging'.

Ok for the one branch, but how do we trigger the lib/doc versioning? With tags?

[2017-05-27 08:47] Peltoche commented on #9
As promise I start to work seriously on it:

# Issue

For now each API create his own http client during his initialization. With `Futures` it seem a very bad idea (if not impossible). Everyone should (must?) use the same http client.

# Proposed Solution

I think we will need to give the http client to each `Exchange` so everyone run on the same `Future::Core` loop, so there will be a new breakin

[2017-05-27 08:49] hugues31 commented on #24
@Peltoche I have updated the project settings according to what you said.

[2017-05-27 08:56] crackcomm commented on #9
It is surely more efficient.
If not that, you would have to pass a tokio-core `handle`, additionaly `HttpsConnector` creates additional thread(/s) for accepting connections.

[2017-05-27 12:22] ainestal commented on #24
@Peltoche we can do it with tags, yes. Releases are created automatically in github and it's a good way to keep track of the versions.
The biggest problem with this approach is that the tags have to be created manually after the merge, but merging is even more manual anyway when the branches diverge after some time of development.
So, @hugues31 , are you ok creating the tags when the merges are do

[2017-05-27 18:32] hugues31 commented on #24
So we increment the version for every PR being merged ?

[2017-05-28 12:39] Peltoche commented on #24
For me yep.

I think the best way to handle correctly the versioning is to follow the [semantic versioning conventions](http://semver.org/).

If we decide to follow them, the major rules are:
- Bump the major for any breaking change (V1.3.1 -> V2.0.0)
- Bump the minor for any API change without breaks (V1.3.4 -> V1.4.0)
- Bump the patch for any change without API change (V1.3.4 -> V1.3.5)
- The V1

[2017-05-28 14:25] ainestal commented on #24
Agree.

Just a small request: please, when naming the versions don't include the "v" character.

[2017-05-29 12:21] ainestal commented on #24
@hugues31 could you bump the version to 0.3.1 ? The current version is messed up, version 0.3.0 doesn't include the credentials yet. Version 0.3 doesn't exist on crates.io

The tag in github should match the version of the library in Cargo.toml .

Btw, I was researching how to automatically create the tag and push it to Github from Travis. Apparently in order to make it work Travis needs the repos

[2017-05-29 16:14] Peltoche commented on #24
I strongly recommend to handle the versions manually

If I make a PR with some really bad code (even malicious one) in it but the build go green we don't want to trigger a new version and a push it to crate.io. Push to many times in "production" could be dangerous if we don't make very serious PR because once the code is on crate.io we can't delete it and some user could use it in production.

Les

[2017-05-29 16:17] Peltoche commented on #24
[some script to publish documentation](https://github.com/Peltoche/ical-rs/blob/master/publish-doc.sh)

[2017-05-29 16:24] ainestal commented on #24
@Peltoche , I agree. After taking a look into automating the process I can't say I like the idea. That example I linked earlier is just to share the knowledge.

[2017-05-30 02:58] crackcomm commented on #6
I have implemented [Poloniex](https://github.com/crypto-bank/orca/blob/master/clients/src/poloniex/stream.rs) websocket stream.

I would like to discuss moving some code out of [orca](https://github.com/crypto-bank/orca) to coinnect, it doesn't make much of a sense to maintain two clients. Orca is mainly designed to be a platform for building trading software and markets simulations. It has lmdb t

[2017-05-30 16:44] hugues31 commented on #6
Hi, I'm not currently available to see your project, but when I'm back at home I will take a look and see what we can do :)

[2017-05-30 16:46] hugues31 commented on #24
Seems fine, I'll bump the version now :)

[2017-05-30 21:42] Peltoche commented on #6
Yop, for the asynchronous stuff, I have some work on it (See #9 ). Create a good implementation it's harder than what I expected first and I don't have much free time but soon :)

[2017-06-01 11:04] Peltoche commented on #9
I have just finish a first working version for one route [here](https://github.com/Peltoche/coinnect/tree/move-to-futures) if you want to make some feedback.

I start a complete rewrite base on the work above if it's ok for you.

[2017-06-01 18:25] ainestal commented on #9
That's a huge change! Is it possible to split this change in smaller changes that we can TDD?

About the implementation, I think we shouldn't finish here:
`let mut my_api = PoloniexApi::new(http, creds).unwrap();`

We should use the generic api and then include new connections to exchanges within the same object, something like:
`let mut my_api = Coinnect::new();
my_api.new_connection(Exchange::Po

[2017-06-01 19:54] hugues31 commented on #9
@ainestal maybe instead of :
[code]

we could use :
[code]
The Creds store an account name so we could use it to identify the exchange, etc.. This way all methods (ticker, etc) do not have the Exchange parameter and we could do something like this:
[code]

[2017-06-01 20:07] ainestal commented on #9
@hugues31  In both approaches you have to provide a reference to the exchange you want, the operation you want to perform and some extra information, usually the pair. For me they are very similar. I don't have a strong opinion here, I prefer the first one, looks more explicit to me, but I'm fine with any of them.

[2017-06-02 07:33] Peltoche commented on #9
I totally agree with you guys! The async stuff is a pain-in-the-ass code to write and I don't think the users want to be bothered by it, so we should wrap it around an synchronous API with possibility to retrieve Futures.

@hugues31 in you example:
[code]
We can easily make these two call asynchronous which allow great performance improvement.

So I redirect you on #19 where I proposed some ideas

[2017-06-02 08:03] hugues31 commented on #9
@Peltoche I like this idea. So `exec()` is just a wrapper for sending all requests asynchronously based on selected exchanges but this function remains synchronous for the user so it keeps simple. And we could always implement a function that returns the Future(s) associated with the `exec()` function.

[2017-06-02 08:05] Peltoche commented on #9
Yep, the `ticker()` create a query-builder which can be dynamically composed by adding some rules (`from()` by example) then run by exec().

[2017-06-02 09:00] ainestal commented on #9
I like the idea. I specially like the "let's not annoy our users" approach.

[2017-06-02 22:54] crackcomm commented on #9
@Peltoche Thanks, I learned from your implementation too.
@ainestal @hugues31 We also need account selection.
Market name doesn't have to be specified, it's already embed in account struct, that's a good thing. Method `from` in rust should be reserved for [`From::from`](https://doc.rust-lang.org/std/convert/trait.From.html) and `from` in general is for conversion between types. Name of the method

[2017-06-02 22:56] crackcomm commented on #9
I don't necessarily like the idea of multiple request builder like that. I think it should be a simple client which then can be used to process requests in parallel.

[2017-06-04 08:20] hugues31 commented on #24
I believe that I have delayed the tag creation and the merge commits so that each release contains the code of the old release. Is it right?

[2017-06-04 11:25] ainestal commented on #24
Do you mean that you bumped the version 1 number with 2 PRs ? If that's the case, that's fine since you merged them so close in time, no user will have the need to go to that PR between versions. If someone needs to go to a specific point in the history of commits, the reference to a specific commit can be used. Tags are for users (and for us) to be able to easily distinguish between states of the

[2017-06-04 16:10] hugues31 commented on #24
No I didn't want to mean that but I'm not sure to understand the tag system well yet and since I have a limited internet access for now I can not check properly what I've done :)

[2017-06-24 09:16] ainestal opened #31 "Moving Currency and Pair to Types so all the types live under the same module"
I find it confusing when using the library that these 2 types are not in the types mod. It also forces the user to import other 2 mods instead of just types.

I also understand they are different from the rest of types implemented in the types mod.

So I'd like to ask you about moving them. What are your thoughts?

[2017-06-24 23:21] hugues31 commented on #31
Yes I agree. Maybe we can make a "super" Types mod (folder) and put inside it Pair+Currency in one sub-mod, and the others types in an other one (no idea for the name yet)

[2017-06-25 11:13] ainestal commented on #31
I was thinking about just moving them into coinnect::types . I don't see the benefit for the user in having pair and currency in a specific mod.

[2017-06-25 13:22] hugues31 commented on #31
Oh you mean in the same file, I see :) You can post a PR if you want or I will make one tomorrow

[2017-06-26 10:39] ainestal commented on #31
This is the PR #32

[2017-06-26 17:10] hugues31 commented on #31
PR merged. I close

[2017-06-26 17:10] #31 closed

[2017-07-18 11:53] newpavlov opened #33 "Use RustCrypto instead of rust-crypto"
As I see you only use SHA-2 and HMAC, so you don't need the whole `rust-crypto` (moreover it's not developed anymore). Instead you can use crates from [RustCrypto](https://github.com/RustCrypto/hashes) organization which is a modular rework of rust-crypto. In addition to smaller size, those crates are written in completely pure Rust.

[2017-07-18 16:08] hugues31 commented on #33
Definitely a good idea, thanks :) I will send a PR in the week if I do not encounter any problem.

[2017-07-18 16:38] ainestal commented on #33
+1

On 18 July 2017 at 17:08, hugues31 <notifications@github.com> wrote:

--
Alejandro Inestal García

[2017-07-19 06:27] newpavlov commented on #33
@hugues31
Feel free to ask any questions! Although I think [HMAC section](https://github.com/RustCrypto/hashes#hash-based-message-authentication-code-hmac) in the readme should be enough to start.

[2017-07-19 10:24] hugues31 commented on #33
Thanks. I already made the transition for Kraken, I will finish later this afternoon :)

[2017-07-19 20:13] #33 closed

[2017-07-20 10:19] hugues31 commented on #24
I think it's fine now, I close

[2017-07-20 10:19] #24 closed

[2017-07-21 13:13] ainestal opened #35 "BTC fork"
I'm opening this issue as a discussion thread.

Looks like the Bitcoin fork will happen in the next future, not far from now. There will be different names for the Bitcoin Unlimited and Bitcoin Core across different exchanges. Luckily for us look like the 3 exchanges we are currently supporting will maintain the BTC (or XBT) for Bitcoin Core (the current bitcoin) and will use a different name for

[2017-07-21 23:07] hugues31 commented on #35
Yes I follow the event closely and I think a simple update of pairs should suffice. Time will tell us!

[2017-07-26 16:17] guanqun opened #36 "temporarily bypass the call rate limit in public query?"
In some cases, I'd like to call these in a burst mode, I don't want to be blocked by the API internally...

[2017-07-26 16:24] ainestal commented on #36
If you do a burst and after it you fall back to the standard ratio, there are chances you will be banned. The only way I see to do it is by allowing a burst and then allowing some time to recover from it. This doesn't look simple because it depends on the length and amount of requests of the burst.

It is also dependant on the different exchanges, each one having a different way of controlling the

[2017-07-26 20:29] hugues31 commented on #36
Hello! We can always implement a method on ExchangeApi like `set_block_or_continue(bool)` which bypass the `block_or_continue` function. The `block_or_continue` function itself can be improved by logging all queries and make the proper sleep duration following the rules imposed by each exchanges.

[2017-07-26 23:06] guanqun commented on #36
The caller of this API will make sure to wait enough time before sending more requests to it. Therefore we won't be banned, yeah, if the caller fails to do so, then definitely we'll be banned...

If you agree adding a `set_block_or_continue(bool)` is fine, I'll help add this.

[2017-07-27 09:56] ainestal commented on #36
I like the idea of having a way of controlling the time from the perspective of the user. In that case, as a user, I would like to have full control over the time, so no need to keep track of the requests from the library. That also would vastly simplify the library.

[2017-07-28 07:01] vegai opened #37 "Prices in decimal instead of f64"
Looks like the main Price type is an alias for f64. As we know, using floats for currency is a bad idea due to precision issues.

It seems like this crate is the upcoming standard: https://crates.io/crates/bigdecimal -- based on some discussion I've seen and the fact that Diesel is using it. It's been oddly quiet for a while though.

[2017-07-30 10:46] ainestal commented on #37
The precision is indeed a problem. I'm researching how to implement this.

[2017-07-30 20:36] hugues31 commented on #37
This could be a good idea but I will not implement it. Though I'll be happy to review a PR related to this issue. :)

[2017-07-30 20:47] hugues31 commented on #36
I'm ok to add `set_block_or_continue(bool)` function. This feature is helpful & easy to implement.
@guanqun if you submit a PR for this, I'll be happy to merge your work.

Furthermore, I suggest to improve the `block_or_continue` function to respect more the exchanges rules but we could open a new issue for this as there is no simple solution. (for example, Kraken has an API call rate limit depend

[2017-08-04 16:51] vegai commented on #37
I'll probably take a whack at it too, unless somebody else beats me :) Replacing f64 with bigdecimal::Bigdecimal made rustc cough up 22 errors in total -- seems like a sweeping change but possibly not a huge one.

[2017-08-04 17:07] ainestal commented on #37
I've done it already. I didn't send the PR because I found an error with Poloniex and I don't know yet how to solve it.

I can send the PR but it will break the orderbook test from poloniex

[2017-08-04 17:17] ainestal commented on #37
The PR is #39

[2017-08-04 17:21] vegai commented on #37
Ah, cool! Thanks for the update.

[2017-08-05 09:30] ainestal commented on #37
PR #39 is now closed. @hugues31 could you bump the version and close this issue? Thanks!

[2017-08-05 15:28] hugues31 commented on #37
Yes, we can always open an other later for the f64 problem from Poloniex

[2017-08-05 15:28] #37 closed

[2017-08-06 10:45] hugues31 commented on #35
I will add the new pairs very soon (BCH for Kraken)

[2017-08-11 16:58] ainestal commented on #36
I've been working on this for a bit and I found something really interesting: time doesn't get the correct nanoseconds. I created a ticket but the library is deprecated so I don't know when or if they will solve it. You can see the issue here:
https://github.com/rust-lang-deprecated/time/issues/154

I don't trust the time library anymore, we should use [chrono](https://crates.io/crates/chrono) ins

[2017-08-11 20:23] hugues31 commented on #36
By no mean I'm an expert but I don't think standard CPU could reach the nanosecond precision, doesn't the same thing happen with chrono ? If not, we could open an issue to migrate Coinnect to chrono :)

[2017-08-12 08:12] ainestal commented on #36
I did the same test with chrono and there is a difference of some nanoseconds, it works. I'm going to open the issue like you suggested.

[2017-08-12 09:05] ainestal opened #41 "Replace the time library for chrono"
The time library is deprecated and has precision errors

[2017-08-12 10:54] ainestal commented on #41
Solved #42

[2017-08-12 11:31] ainestal opened #43 "block_or_continue doesn't wait the correct time"
`block_or_continue` is waiting for the time passed between the last request and the current one. It's not waiting until the threshold is met.

[2017-08-13 00:11] ainestal commented on #36
#45 Implements the bypass of `block_or_continue` with `set_burst(bool)`

[2017-08-15 15:24] #43 closed

[2017-08-15 15:26] hugues31 commented on #41
PR merged, I close.

[2017-08-15 15:26] #41 closed

[2017-08-15 15:27] hugues31 commented on #36
PR merged. I close.

[2017-08-15 15:27] #36 closed

[2017-08-15 15:28] hugues31 commented on #35
New pairs have been added with #40, I close.

[2017-08-15 15:28] #35 closed

[2017-10-25 12:47] crackcomm opened #47 "OpenAPI & codegen"
@hugues31 What do you think about creating [OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md) specifications for exchanges and generating client code?

[2017-10-25 12:52] hugues31 opened #48 "Improve configuration and credentials system"
This should be more safe to use (wrong input from the users, Creds used for the wrong exchange...)

[2017-10-25 12:57] hugues31 commented on #47
Didn't know OpenAPI since now, sounds very interesting but is a huge rework of the lib :/ so if anyone is interested in following this path, I encourage them, but I personally don't have the time to invest in this potential improvement

[2017-10-25 13:11] crackcomm commented on #47
There seems to already exist a [swagger-codegen](https://github.com/swagger-api/swagger-codegen) template for [rust](https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/main/resources/rust).

[2017-10-25 15:00] hugues31 opened #49 "Docs on docs.rs do not work anymore"
Build log says :
[code]
And I have no idea on how to solve that

[2017-10-25 15:01] crackcomm commented on #49
Try removing the `build`, `debug` dirs

[2017-10-25 15:39] hugues31 commented on #49
yes but it happens on the docs.rs website, not on my local machine, so i don't have access to this folder

[2017-10-25 15:52] crackcomm commented on #49
I believe this is docs.rs [issue](https://github.com/onur/docs.rs/issues/23) then.

[2017-10-25 16:47] hugues31 commented on #49
#50 does not seem to refresh the docs.rs cache :/ I don't know what to do to fix it

[2017-10-25 16:56] crackcomm commented on #49
I was trying to install [cargo-tree](https://github.com/sfackler/cargo-tree) or [cargo-graph](https://github.com/kbknapp/cargo-graph) to identify the package that requires conflicting version of idna but build fails on my windows.

[2017-10-25 17:00] crackcomm commented on #49
Maybe you should try updating to latest hyper?

[2017-10-25 17:06] hugues31 commented on #49
It's a breaking change since 0.11 version brings the async feature so this is not trivial. I was considering replacing Hyper by Reqwest. By doing this, we can try to make an async version around Futures more easily. What do you think?

[2017-10-25 17:10] crackcomm commented on #49
I was not aware reqwest released with async API. This is probably a good idea then, if it simpler to use.

[2017-10-26 17:39] hugues31 commented on #49
Solved, I close!

[2017-10-26 17:39] #49 closed

[2017-11-01 12:01] hugues31 opened #52 "Proposal to implement async API (Futures)"
Hello,

After some research, I decided to give a try to Futures to come up with a simple async API. The main idea is to keep everything very straightforward for the user (the event loop is created by the API).

The source code is :
[code]

Cargo.toml :
[code]

The code below returns:
[code]

What do you think? Since it's a huge rewrite it would be nice to have some feedbacks :)

[2017-11-01 12:38] ainestal commented on #52
This changes fundamentally how the whole library works and will break any currently working applications using it.

That being said I like the idea because enables the possibility of using APIs that push events alongside APIs that are polling all the time. That is the main argument for me to use this approach.

The performance is also a good point, but currently is not too bad, specially consideri

[2017-11-01 13:17] hugues31 commented on #52
@ainestal Thanks for your input. Indeed, this is a breaking change (Coinnect 0.6 here we go). For the performance, this is exactly the same as before if the Future contains only 1 request but as the number of requests increase the advantage of async API surge. We can add an example where we compare the time taken to pull the price of the pair BTC-ETC for the 4 exchanges with the sync and async met

[2017-11-01 13:32] crackcomm commented on #52
Hey, I am currently working on streams @ [crypto-bank/orca](https://github.com/crypto-bank/orca).
I will finish streams and I will catch up with you guys here.

In the meantime what do you guys think about using #47 and implement traits for generated code?

[2017-11-01 14:26] ainestal commented on #52
@crackcomm I think it can be very useful to have the code generation

[2017-11-01 14:45] hugues31 commented on #52
@crackcomm From what I have seen, orca is a Poloniex websocket API implementation, right? Apart from that, I did not study the OpenAPI issue. My plan for now and the foreseeable future is just to write some Rust code and bring Coinnect to a stable version.

[2017-11-01 15:10] crackcomm commented on #52
@hugues31 I am currently working only on Poloniex because I am still studying [stream](https://docs.rs/futures/0.1.16/futures/stream/index.html) design in rust.

@ainestal I would like to see that too but currently for APIs like Poloniex etc. that do not provide OpenAPI descriptors I'd rather write code myself like @hugues31.

I will also implement async clients in [orca](https://github.com/crypto

[2017-11-01 15:21] ainestal commented on #52
@crackcomm I didn't take a close look at the OpenAPI but the code generation feels very useful for the future. In the case of exchanges that don't implement it is probably easier to create the description of the API than to code it in rust.

So I agree with the approach of coding it now, since we will get the value straight away. I like that over having to wait until we have the code generation an

[2017-11-04 03:56] crackcomm commented on #6
I think I have completed the interface for websockets.

I made sure that implementation of new websocket [protocols](https://github.com/crypto-bank/orca/blob/master/orca/streams/poloniex/mod.rs) is as simple as possible.

Poloniex is stable and tested, for now there are no plans for other exchanges (you can see beginnings of bitfinex parser though).

If we would like to merge our work together ple

[2017-11-20 10:38] ainestal commented on #52
Hey @hugues31 who is the adventure with the code going? Let me know if I can help. For now I'm waiting until you are done to then help migrating whatever is left (I guess at least Bitstamp)

[2017-11-20 15:44] hugues31 commented on #52
Hello @ainestal ! I'm ready to begin the implementation for one exchange just to see what it will looks like. I suggest to take Poloniex as an example since it may interest more people than the others.
I will create a new branch and you are very welcome to submit your PR. A lot of code need to be changed before the first successful compilation though.

[2017-11-21 15:33] ainestal commented on #52
This is the kind of changes that is way easier to do by pairing, but that's kind of complicated in our case.
@hugues31 you can get rid of the rest of exchanges while working with Poloniex. We will include the rest afterwards when the library is compiling again.

If you see that is very difficult to make it work with all the constraints we had try removing some of them (errors, recreation of the cl

[2017-11-21 22:03] hugues31 commented on #52
You can check the new "async" branch.
I just write down the depencies and start converting the code but there is a lot to do. Feel free to PR on this branch. I don't have a lot of time ahead of me for now..

[2017-11-22 15:15] ainestal commented on #52
I'll take a look when I can, currently I don't have a lot of spare time.

[2017-11-23 12:44] ainestal commented on #52
@hugues31 I was yesterday taking a look at the code and thinking on how to do it. My main assumption is that "We want to deliver futures to the users of the library". Is this correct?

If this is true I will work on the code trying to change the least possible parts in order to make it work.

[2017-11-23 20:49] hugues31 commented on #52
@ainestal  Yes it should be the point. I'm not sure if including the tokio_core inside the API is a good idea thought

[2017-11-25 12:56] ainestal commented on #52
@hugues31 I'm trying to implement just the return of Futures from `ticker`, `orderbook`, `add_order`, and `balances`, staying at the `generic_api` layer, without going any deeper to the `api` of the exchanges.
I'm trying to keep it simple just returning a Future instead of a Result. For what I understand if we include the tokio_core in the api then we will just return a `Result`, not a `Future`. T

[2017-11-26 09:42] hugues31 commented on #52
@ainestal I don't understand when you say that with the tokio_core in the API we will return a Result. If you look at my example (first post), it works right away. And indeed, errors need a lot of rework..

[2017-11-26 19:00] ainestal commented on #52
@hugues31 what I mean returning the Result is also happening in the example. You are using `let res = api.core.run(work_1).unwrap();` in main. What I understand from that is that `time` would be a function from our library and that core would be used by the user. That same behavior what I'm trying to implement in our library. In the async branch you are implementing futures at the api level, but g

[2017-12-07 18:58] ainestal opened #54 "Next exchange to include?"
With the idea in mind of gathering feedback from our users, I would like to propose to the community to ask for inclusions of new exchanges in the library. Something as simple as:

What exchange/s would you like to include in [Coinnect](https://github.com/hugues31/coinnect) and why ?

What do you think @hugues31 ?

[2017-12-07 21:39] hugues31 commented on #54
Yep that's a great idea :) is there a way to create a poll in github or should we use an external services ?

[2017-12-08 10:10] ainestal commented on #54
I don't think there is a poll system in github, external services have to be used. We can begin just with leaving this Issue here. We can link it in the README.
The "why" is also very interesting and here we have the space to collect them while we would lose it if we use a simple poll.

[2017-12-09 00:17] not-inept commented on #54
It might also be simple to have a link to this issue and have folks use the 👍 emojii reaction to comments to indicate their votes.

I think it'd be good to see gdax integrated.

[2017-12-09 11:11] hugues31 commented on #54
I added a link in the readme. You can use this discussion to vote for an exchange :)

[2017-12-13 07:34] inv2004 commented on #54
bitmex ?

[2017-12-13 08:09] crackcomm commented on #54
China might be something to think about.

[2017-12-13 08:12] crackcomm commented on #54
By the way, are you interested in real market functionality or just API?

[2017-12-23 20:37] andygrove opened #56 "Bitstamp API methods that require POST parameters are broken"
I tried placing an order with this code:

```api.buy_market(Pair::BTC_USD, BigDecimal::from_str("0.001")```

I get this error back from Bitstamp:

```{"reason": String("Missing amount POST parameter"), "status": String("error")}```

I looked at the code and I can see that `buy_market` calls `private_query` passing a `params` map containing the `amount` but the amount is not propagated in the actua

[2017-12-23 20:47] andygrove commented on #56
I was able to work around the issue by adding this in `private_query` but this is a bit of a hack.

[code]

[2017-12-23 21:31] hugues31 commented on #56
Hi! Thanks for the issue and the PR. I merge your PR before finding a better solution. This should now be fixed (#57)

[2017-12-23 21:31] #56 closed

[2017-12-27 23:57] ainestal commented on #54
@not-inept I started implementing Gdax. For now it should be possible to get the ticker and orderbook for all the pairs in the exchange.

@crackcomm what do you mean by real market functionality and just API?

[2017-12-28 05:06] JP-Ellis commented on #52
Any update on this feature?  I've actually implemented an async version of the Poloniex API myself (not public yet, though may never be) before finding this repo.  I'd be quite happy to try and implement this feature in this crate.

The general syntax in my crate is:

[code]
so not too dissimilar to what is proposed.  Could be fairly easy for me to adapt what I have to make this crate async.

One

[2017-12-28 09:28] hugues31 opened #59 "Update TravisCI Rust version"
Hello all,
Since the add of `fn for_each<F>(self, f: F)` we need Rust version 1.21 and above for Coinnect to compile.
We then need to change the travis file config in order to fix this. I may send a PR later in the day.

[2017-12-28 09:30] hugues31 commented on #54
Thanks to @ainestal, Gdax is implemented in Coinnect (only ticker and orderbook). We need to provide a more complete access to the API thought.

[2017-12-28 09:36] hugues31 commented on #52
@JP-Ellis Hello and thank you for contributing to Coinnect. Yes in my mind the tokio Core is owned by Coinnect to simplify. What are the disadvantages to do so ? The coinnect client is already mutable and we need to change a lot of code to make it immutable (= remove features) so maybe the Core could be owned by the lib ? You are free to start implementing this (long awaited!) feature, I will take

[2017-12-28 11:35] ainestal commented on #52
In my mind the `Core` should also be outside of the library. The library would return futures and the `Core` would run them. If the `Core` is inside, the library would return `Results`, which is the same it is doing now with the difference of having some parallelism when running API calls for the same exchange, in this case just having a thread is much easier to implement and the final result is t

[2017-12-28 11:53] hugues31 commented on #59
Should be fixed now :) I close.

[2017-12-28 11:53] #59 closed

[2017-12-28 12:33] hugues31 commented on #52
@ainestal Look at my first post : the Core is owned by the struct but returns Futures. The code works. What's wrong with this idea ? Let me know because I really want to implement an async API 😃

[2017-12-28 12:55] ainestal commented on #52
@hugues31 I think the main difference I have in mind between having the Core as part of a specific exchange or having the core outside them is the reusability. If the core is outside the library a user would be able to use it for all the exchanges. If I understand correctly that would allow all the interactions with any of the exchanges to be asynchronous and handled in the same manner.

I've been

[2017-12-28 13:11] hugues31 commented on #52
@ainestal We can have the Coinnect handles the different exchanges with the Core loop inside it. In fact, I see no point letting the user to handle it (the user can access the Core since it's public).

[2017-12-28 20:28] tbourvon commented on #54
I'm pretty interested in contributing to the GDAX API as well. In fact I implemented a PoC with the ticker request yesterday as well, before seeing the comments here. Is there a way we could coordinate our efforts here?

[2017-12-28 20:40] hugues31 commented on #54
@tbourvon Hello! You could take a look at the code submitted by the GDAX PR (#58) and see what you can improve :) It should be straightforward to implement the remaining endpoints now

[2017-12-29 09:45] crackcomm commented on #54
# Markets

Here is my list with some related links, more or less in priority order dictated mostly by liquidity and **quantity of currencies traded**.

## Poloniex

* https://github.com/ccxt/ccxt/blob/master/js/poloniex.js

## Bittrex

* https://bittrex.com/

## Cryptopia

* https://www.cryptopia.co.nz/

* https://npms.io/search?q=cryptopia
* https://github.com/mjezorek/cryptopia-node/blob/master/

[2017-12-29 17:04] tbourvon commented on #52
My opinion on this issue is that it would be best to use the same Core structure for every exchange: the main module should dispatch it to each exchange API. Running multiple event loops would inefficient and confusing.
Now regarding who should own the Core structure, I believe that we could simply have two different constructors, one which generates a Core if the user doesn't care about it, and t

[2017-12-29 17:07] tbourvon commented on #52
(note that this architecture lets users choose between Futures and Results: they can call a generic API to manipulate futures themselves, or they can use the functions exposed in the main module to let Coinnect run the requests (which could still be built so that they run asynchronously and in parallel) and return Results)

[2017-12-29 17:21] tbourvon commented on #47
This looks to me like it should be the top priority issue. Coinnect deals with (crypto)currencies, and as such reliability, stability and easiness of maintenance are very important. I'm probably going to start investigating this and maybe work on this first (before working on adding exchanges or futures).

[2018-01-01 21:54] tbourvon commented on #47
As you can probably see, I've pushed a PR with a first sketch of a GDAX OpenAPI specification, along with the instructions to generate the Rust API from it. Please don't hesitate to comment on how you feel about this.

[2018-01-01 22:58] crackcomm commented on #47
I certainly love that :) thank you

[2018-01-03 10:44] crackcomm commented on #47
I would suggest keeping those auto-generated clients in a crate, on this type safe clients we can then implement more general traits, general for all exchanges.

I think we would need to split the traits as much as possible, eq. `Ticker` trait etc.

[2018-01-03 10:45] hugues31 commented on #52
I didn't think of using 2 constructors, I like this idea a lot. Anyone is working on that ? I may have some time to prototype that.

[2018-01-03 11:04] crackcomm commented on #52
I believe `Future` is not limiting but only enabling alternative to a `Result`.

See [`futures-await`](https://github.com/alexcrichton/futures-await) for nice synchronous API.

Futures can be converted to a result by calling `.wait()` and just `.unwrap()` later.

[2018-01-03 11:10] crackcomm commented on #6
I am not entirely happy with [this](https://github.com/crypto-bank/crypto-market-stream-poloniex/blob/master/examples/poloniex-stream.rs) interface, but it works.

Some things I do not like in my current implementation

* ~commands should be possible to receive again on disconnect
* some streams respect subscribe commands separate for `Trade` and `OrderBook`

I would want to see better `Currency`

[2018-01-03 11:11] hugues31 commented on #52
@crackcomm yes no need to write a wrapper around functions returning `Future` to get a `Result`, this is already simple to do that :)

[2018-01-03 11:14] crackcomm commented on #52
@hugues31 I believe we should focus on creating a boilerplate code to be used in #47.

[2018-01-03 11:18] tbourvon commented on #52
I agree, since the OpenAPI codegen generates async code, it wouldn't be wise to try to convert the current exchange code to async. We should probably focus on the boilerplate as @crackcomm said.

[2018-01-07 11:08] crackcomm commented on #47
I can recommend using [editor.swagger.io](http://editor.swagger.io/) for editing the spec, it catches all errors.

[2018-01-21 07:05] doomsplayer opened #64 "Order type for Poloniex"
Poloniex supports several additional order types like `FillOrKill`. I have an implementation [here](https://github.com/doomsplayer/coinnect/commit/4da736fc2f09aa59e21e465a58f62774e911f11e), which introduces additional parameters to `buy`, `sell`, and `move_order`. Not sure if it works for you.

[2018-01-21 07:09] doomsplayer opened #65 "Return type of return_order_book should not be a Map"
Actually, not all return value from Poloniex is a JSON object, for now, `return_order_book` is an exception. I make a change to these methods to return `Result<T>`, which delegates the choice to the user that he can decide what type the result value is. [Commit](https://github.com/doomsplayer/coinnect/commit/50dcd87f85e105ba7f84b020eb1afdaa2691999e)

[2018-03-23 00:55] theashguy commented on #54
Cryptopia, Kucoin, BTCMarkets for the Crypto-Rustaceans down under.

The first two because they're great exchanges with a wealth of Alts on there giving some interesting trade ops to play with in code, the third because they're they best available on-ramp for Aussie dollars to Crypto.

I hacked together a working BTC Markets connector over christmas so I might look at spending some time over the n

[2018-03-23 08:39] hugues31 commented on #54
Hi @theashguy, feel free to send a PR with your implementation. You can copy/paste the implementation from Kraken/Poloniex to serve as a guide. The API will be greatly improved in the next version with Futures support but for now we keep it as is :)

[2018-03-24 09:32] hugues31 commented on #64
Whoa such a shame I didn't respond to you sooner, sorry. I must have skipped the notification..
Your implementation seems fine to me, if you are kind enough to make a PR, I'll be happy to merge it :) If you have not the time and if you agree, I will do it myself in the next few days

[2018-03-24 09:37] hugues31 commented on #65
Using the Deserialize from Serde seems a great idea. However does it break the generic API ? I didn't run tests to check it.

[2018-03-25 07:15] doomsplayer commented on #65
I don't think so. Since the generic API assumes the return type as a `Map`, so the compiler will infer `T` as a `Map`. Then everything falls back to the original `Map` API.

[2018-03-25 07:21] doomsplayer commented on #65
Actually using generic is just a workaround. Finally, I think we need to type-ify all the return types. Something like `https://transform.now.sh/json-to-rust-serde` is pretty useful.

[2018-03-25 17:39] #64 closed

[2018-03-26 16:19] hugues31 commented on #65
Yes but I think that a strong typed return should be the purpose of the generic API, the raw API, which is lower level, should stay close to the exchange response. Eventually, the Map container may be changed.

[2018-06-14 17:26] schickst opened #67 "Poloniex returnChartData parse error"
Hello,

I was trying to call returnChartData of the Poloniex API. But guessing from the output of my code, there seems to be a parsing error.

Interactively in the browser it would be the following request, which executes fine:
https://poloniex.com/public?command=returnChartData&currencyPair=BTC_STR&start=1527265203&end=1528993203&period=300

My Code:
``
let credentials = PoloniexCreds::new("test"

[2018-06-15 15:55] hugues31 commented on #67
Thanks for your report ! I'll take a look at it and come back quickly ;)

[2018-06-15 17:59] #67 closed

[2018-06-15 18:01] hugues31 commented on #67
This should be fixed with #68 :) Update your Coinnect version to 0.5.11, you should be able to get your data in the "data" field of the map returned.

 I'm waiting for the async/await to land in nightly for a complete rewrite of Coinnect (version 0.6). This crate deserves it.

[2018-10-30 22:04] #19 closed

[2021-02-10 23:39] rrichardson commented on #52
Is there still interest in this lib (and this ticket?)  I would like to use Coinnect and am interested in helping to update to async/await.

[2021-02-11 08:52] hugues31 commented on #52
Hello @rrichardson ,
I confirm you that Coinnect is NOT abandoned. I have some free time now but I have left Rust aside at the moment so my dev productivity is very low for Async stuff. If you are willing to start a new branch implementing async for Coinnect, I will be very happy to review and merge it into the master branch !

[2021-02-15 23:49] rrichardson commented on #52
@hugues31 -
 I've gone ahead and created a working openapiv3 client code-generator that it at least adequate : https://github.com/rrichardson/openapi_generator
I forked it from https://gitlab.com/easymov/openapi_generator - I tried 4 different code-generators and they were all broken in various ways, this was the easiest starting point from which to create a working code-generator.

I've also crea

[2021-02-15 23:57] rrichardson commented on #52
Also, thinking more about the streaming data aspects of this:
I think we should adopt a pub-sub stream mechanism using something like https://github.com/jonhoo/bus  or https://github.com/Logicalshift/flo_stream as a basis of the implementation.

In fact, it might make sense to add a `subscribe` method to the ExchangeApi trait that will create a data-stream of the chosen instrument and route it int

[2021-02-16 16:45] hugues31 commented on #52
With the time, I wonder how we can maintain Coinnect and keep it up to date with the various exchanges supported.
For now, this is "hand crafted" : Kraken has a lot of missing trading pairs for example.

We can generate most of the code from what your already implement and a OpenAPI specs file.
However :
- we need to write those OpenAPI files for each exchange (some exchanges like Binance offer it

[2021-02-16 18:38] rrichardson commented on #52
We can make the codegen produce any code we want, including code that could lend itself well to directly fitting into the ExchangeApi trait.  However, since every exchange has different naming conventions and models, custom code would still need to be written (maybe one day code-generated) to fulfill the ExchangeAPI trait directly.  I do think that more work could be done to insulate the Coinnect

[2021-02-17 00:57] rrichardson commented on #52
There happen to be a couple relevant discussions happening on /r/rust that relate exactly to trait implementations for separate API/endpoints. It might be overkill to go too far into trait-land, but the more implementation we can save in the long run, the better.

 I just want to leave these links here so I can find them later:

https://www.reddit.com/r/rust/comments/lkdw6o/designing_a_new_archite

[2021-09-08 11:41] vschwaberow opened #77 "Error: hmac"
While trying to use the library I am running into requirement failures

`error: failed to select a version for the requirement `hmac = "^0.3"``

How can I resolve this?

[2022-03-15 13:59] PP-AR-T commented on #54
Kucoin would be nice, I am happy to support on that, I will try to see how far I can get on my own :). PD: Nice Project

[2022-04-18 13:47] #47 closed

[2022-04-18 13:51] #9 closed